.column {
  float: left;
  width: 140px;
  height: 140px;
  padding: 10px;
}

.column img {
  opacity: 0.8;
  cursor: pointer;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.column img:hover {
  opacity: 1;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#backtohome{
    width: 180px;
    height: 40px;
    background-color: aqua;
    border: solid;
    border-width: 1px;
    border-color: black;
    color: black;
    border-radius: 5px;
    text-align: center;
    font-size: larger;
    padding-top: 20px;
    margin-bottom: 40px;
}

.container {
  position: relative;
  display: none;
}

.container{
    text-align: center;
}

#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
#description{
    justify-content: center;
    align-content: center;
}
#specifications{
    margin-top: 20px;
    text-align: left;
    font-size: large;
    border: solid;
    border-right: none;
    border-left: none;
    border-color: red;
    border-width: 1px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}